*.log
*.ini
*.prefs
/workspaces/RajeshMadala_Test/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/workspaces/RajeshMadala_Test/.metadata/version.ini
.metadata
.metadata
/workspaces/RajeshMadala_Test/.metadata
/workspaces/RajeshMadala_Test/.metadata
